# ignore node_modules
node_modules/
.vscode

# ignore .env files
.env*
!*.env.example

# ignore log files
*.log

# ignore swap files
*.swp

# ignore coverage reports
coverage/

# ignore any files or directories that start with a dot
.*


